<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Placeholder Title</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
    </style>

  </head>
  
  <body>
	<p> Profile page - Customization </p>
	<p class="title"> Login Successful! Hello {{ session['username'] }}.</p>
	<button class="button2" style="width: 40%; margin-top: 50%; margin-left: 30%"><a class="link2" href="{{ url_for('changeEmail') }}">Change Email</a></button>
	<button class="button2" style="width: 40%; margin-top: 2%; margin-left: 30%"><a class="link2" href="{{ url_for('deleteAccount') }}">Delete Account</a></button>
	<button class="button2" style="width: 40%; margin-top: 2%; margin-left: 30%"><a class="link2" href="{{ url_for('logout') }}">Log out</a></button>
  </body>
  
</html>