<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Placeholder Title</title>
	
	<!-- External CSS Page -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myCSS.css')}}">

	<!-- Embedded CSS, overwrites external CSS -->
    <style type="text/css">
		html, body {
			background-color: black;
		}
    </style>

  </head>
  
  <body>
	
	<!-- Form groups for registration -->
	<div class="containerLogin">
		<div class="row">
			<div class="col col-offset">
				<form method=POST action="{{ url_for('register') }}">
					<div class="form-group">
						<label for="InputUsername"><span class="content2">Username</span></label>
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="InputPassword"><span class="content2">Password</span></label>
						<input type="password" class="form-control" name="pass" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="InputEmail"><span class="content2">Email</span></label>
						<input type="text" class="form-control" name="email" placeholder="Email@gmail.com">
					</div>
					<button type="submit" class="button2">Register</button>
				</form>
				<br>
					<p class="content2"> Already have an account? <a class="link4" href="{{ url_for('profile') }}">Sign in here</a>. </p>
			</div>
		</div>
	</div>
  </body>
  
</html>